*{
    box-sizing: border-box;
}
.container{
    width: 400px;
    height:fit-content;
    background-color: black;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    
}
.screen{
    background-color: black;
    color: lemonchiffon;
    text-align: right;
    padding: 40px 10px;
    font-size: 30px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}
.button{
    width : 24.5%;
    height: 80px;
    cursor : pointer;
}
.button:hover{
    background-color:rgb(183, 184, 231);

}
.button:active{
    background-color: rgb(233, 138, 220);
}
.double{
   width : 49.5%;
}
.triple{
    width: 74.5%;
}
.orange{
    background-color: rgb(221, 169, 73);
    color:white;
}
.orange:hover{
    background-color: tan;
    
}
.orange:active{
    background-color: rgb(141, 100, 24);
}